@model WebAPP.Models.PropertyTypeVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit property type</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PropertyTypeName" class="control-label"></label>
                <input asp-for="PropertyTypeName" class="form-control" />
                <span asp-validation-for="PropertyTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-3" />
                <a asp-controller="PropertyType" asp-action="Index" class="btn btn-outline-primary mt-3">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
