@model IEnumerable<WebAPP.Models.PropertyTypeVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Property type list</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PropertyTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyTypeName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PropertyTypeId }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PropertyTypeId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
