@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Booker!</h1>
    <h4>Start exploring!</h4>
    <img src="~/pexels-pixabay-261102.jpg" class="img-thumbnail" alt="Responsive image">
</div>

