@model WebAPP.Models.PropertyAmenityVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PropertyAmenityVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PropertyId" class="control-label"></label>
                <select asp-for="PropertyId" asp-items="ViewBag.PropertyDdlItems" class="form-control">
                    <option>Choose something</option>
                </select>
                <span asp-validation-for="PropertyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmenityId" class="control-label"></label>
                <select asp-for="AmenityId" asp-items="ViewBag.AmenityDdlItems" class="form-control">
                    <option>Choose something</option>
                </select>
                <span asp-validation-for="AmenityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
